.app-deck {
    position: relative;
    cursor: pointer;
    background: rgba(144, 238, 186, 0.555);
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius);
    margin: 3px 0;
    padding: 5px;
}

.title, .count {
    margin: 0;
}

.title {
    padding-right: .30em;
    user-select: none;
    color: black;
}

.count {
    font-size: .9em;
    color: rgb(117, 117, 117);
}