.card {
    border-radius: var(--radius);
    height: var(--card-height);
    width: var(--card-width);
    cursor: pointer;
    transition: var(--fast-alive);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    margin: 4px;
}