<div class="app-action">
    <div class="action-section">
        <div class="icon icon-x">
            <fa-icon [icon]="faRectangleXmark"></fa-icon>
        </div>
        <small class="selected-count">{{ selectedCount }} selected</small>
    </div>
    <div class="action-section">
        <div class="icon icon-trash">
            <fa-icon [icon]="faTrashCan"></fa-icon>
        </div>
        <div class="icon icon-zipper">
            <fa-icon [icon]="faHardDrive"></fa-icon>
        </div>
        <div class="icon icon-share">
            <fa-icon [icon]="faShareFromSquare"></fa-icon>
        </div>
    </div>
</div>